# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Lesson11/.vs/Lesson11
/Lesson11/Lesson11/x64/Debug
/Lesson11/x64/Debug
/Lesson13/.vs/Lesson13
/Lesson13/Lesson13/x64/Debug
/Lesson13/x64/Debug
/Lesson14/.vs/Lesson14
/Lesson14/Lesson14/x64/Debug
/Lesson14/x64/Debug
/Lesson15/.vs/Lesson15
/Lesson15/Lesson15/x64/Debug
/Lesson15/x64/Debug
/Lesson16/.vs/Lesson16
/Lesson16/Lesson16/x64/Debug
/Lesson16/x64/Debug
/Lesson17/.vs/Lesson17
/Lesson17/Lesson17/x64/Debug
/Lesson17/x64/Debug
/Lesson18/.vs/Lesson18
/Lesson18/Lesson18/x64/Debug
/Lesson18/x64/Debug
/Lesson19/.vs/Lesson19
/Lesson19/Lesson19/x64/Debug
/Lesson19/x64/Debug
