# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Lesson11/.vs/Lesson11
/Lesson11/Lesson11/x64/Debug
/Lesson11/x64/Debug
/Lesson13/.vs/Lesson13
/Lesson13/Lesson13/x64/Debug
/Lesson13/x64/Debug
